.grid-system{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(250px, auto);
    gap: 1px;
    background-color: black;
}

.grid-col-span-4{
    grid-column: span 4;
}

.title{
    color: black;
    font-size: 14rem;
    margin: 0;
    text-align: center;
    font-weight: bold;    
}

.grid-col-span-2{
    grid-column: span 2;
}

div{
    background-color:#CFCABD;
}